/* Reset de estilos padrão */
/* Reset de estilos padrão para vários elementos */
body, h1, h2, p, section, form, label, main, textarea, img {
    font-family: Arial, sans-serif; /* Define a fonte para vários elementos */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
    max-width: 100%; /* Garante que os elementos não ultrapassem 100% da largura do contêiner */
    margin-left: auto; /* Centraliza o elemento horizontalmente no contêiner */
    margin-right: auto; /* Centraliza o elemento horizontalmente no contêiner */
}

body {
    font-family: 'Arial', sans-serif; /* Define a fonte principal para o corpo do documento */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
    background-color: #f2f2f2; /* Define a cor de fundo do corpo */
}

header {
    background-color: #333; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto no cabeçalho */
    text-align: center; /* Centraliza o texto no cabeçalho */
    padding: 20px 0; /* Adiciona espaçamento interno ao cabeçalho */
}

header img {
    max-width: 35%; /* Limita a largura máxima da imagem no cabeçalho */
    height: auto; /* Mantém a proporção da imagem */
}

nav ul {
    list-style: none; /* Remove os marcadores de lista dos itens do menu */
    padding: 0; /* Remove o preenchimento padrão do menu */
    margin: 0; /* Remove as margens padrão do menu */
}

nav ul li {
    display: inline; /* Exibe os itens de menu em linha */
    margin-right: 20px; /* Adiciona espaçamento entre os itens do menu */
}

nav a {
    text-decoration: none; /* Remove a decoração de texto sublinhado nos links */
    color: white; /* Cor do texto nos links */
    font-weight: bold; /* Define a espessura da fonte como negrito */
    font-size: 16px; /* Define o tamanho da fonte nos links */
}

nav a:hover {
    color: #ffcc00; /* Cor ao passar o mouse sobre os links */
}

h1 {
    text-align: center; /* Centraliza o texto do título h1 */
    color: #333; /* Cor do texto do título h1 */
}

/* Estilos para a lista de produtos */
.product-list {
    display: flex; /* Exibe os produtos em linha */
    flex-wrap: wrap; /* Permite que os produtos quebrem para a próxima linha se não houver espaço suficiente */
    justify-content: space-between; /* Distribui uniformemente os produtos ao longo do contêiner */
    margin: 20px 0; /* Adiciona espaçamento externo à lista de produtos */
}

.product {
    width: 250px; /* Largura fixa para cada produto */
    margin: 20px; /* Adiciona espaçamento entre os produtos */
    text-align: center; /* Centraliza o texto dentro do bloco do produto */
    border: 1px solid #ddd; /* Adiciona uma borda sólida ao redor do bloco do produto */
    padding: 10px; /* Adiciona espaçamento interno ao bloco do produto */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave ao bloco do produto */
}

.product img {
    width: 100%; /* A imagem do produto ocupará 100% da largura do bloco do produto */
    max-width: 200px; /* Limita a largura máxima da imagem do produto */
    height: auto; /* Mantém a proporção da imagem */
    border: 1px solid #ddd; /* Adiciona uma borda sólida à imagem do produto */
}

.product-info {
    margin-top: 10px; /* Adiciona espaçamento superior à informação do produto */
}

/* Exibir produtos em pares */
.product:nth-child(2n) {
    margin-right: 0; /* Remove a margem direita dos produtos pares para alinhamento */
}

/* Estilos para o rodapé */
footer {
    margin: 10px; /* Adiciona espaçamento externo ao rodapé */
    background-color: #000000; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto no rodapé */
    padding: 2px; /* Adiciona preenchimento interno ao rodapé */
    text-align: center; /* Centraliza o texto no rodapé */
    font-size: 15px; /* Tamanho da fonte no rodapé */
}
